<form class="container" [formGroup]='contactForm'>
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        aria-describedby="emailHelp"
        placeholder="Enter your First Name"
        name="firstName"
        formControlName='firstName'
        />
    </div>
    <div class="d-flex justify-content-center errors" *ngIf='myValues.firstName.invalid && myValues.firstName.touched'>
        <div *ngIf='myValues.firstName.errors?.required'>* First name is required *</div>
        <div *ngIf='myValues.firstName.errors?.minlength'>* First name minlength is {{myValues.firstName.errors?.minlength.requiredLength}} *</div>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter your Last Name" formControlName='lastName'/>
    </div>
    <div class="d-flex justify-content-center errors" *ngIf='myValues.lastName.invalid && myValues.lastName.touched'>
        <div *ngIf='myValues.lastName.errors?.required'>* Last name is required *</div>
        <div *ngIf='myValues.lastName.errors?.minlength'>* Last name minlength is {{myValues.lastName.errors?.minlength.requiredLength}} *</div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email" formControlName='email'/>
    </div>
    <div class="d-flex justify-content-center errors" *ngIf='myValues.email.invalid && myValues.email.touched'>
      <div *ngIf='myValues.email.errors?.required'>* Email is required *</div>
      <div *ngIf='myValues.email.errors?.email'>* Email is wrong *</div>
  </div>
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gender" id="male" value="male" formControlName='gender'/>
      <label class="form-check-label" for="male"> Male </label>
    </div>
    <div class="form-check">
      <input class="form-check-input"type="radio" name="gender" id="female" value="female" formControlName='gender'/>
      <label class="form-check-label" for="female"> Female </label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="isMarried" name="isMarried" formControlName='isMarried'/>
      <label class="form-check-label" for="married">Married</label>
    </div>
    <select class="form-select" aria-label="Default select example"name="country" id="country" formControlName='country' >
      <option *ngFor="let country of countries">{{ country.name }}</option>
  </select>
  <div class="d-flex justify-content-center errors" *ngIf='myValues.country.invalid && myValues.country.touched'>
    <div *ngIf='myValues.country.errors?.required'>* country is required *</div>
</div>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>
  